* {
   box-sizing: border-box;
}

footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $dgrey;
}

.align-centre {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.align-vertical {
    display: table-cell;
    vertical-align: middle;
}

.cell-logo {
    font-size: 2rem;
    text-align: center;
    line-height: 42px;
    color: $lgrey;
    a {
        margin-right: 0;
        color: $lgrey;
    }
}

.scale {
    width: 100%;
    display: block;
}

// http://precisepixels.co.uk/blog/2014/01/30/checkbox-hack-problem-with-android-2-3/
.force-repaint { -webkit-animation: force-repaint infinite 1s; }

@-webkit-keyframes force-repaint {
    from { fill: 0; }
    to   { fill: 0; }
}