$lgrey: #EEE;
$mgrey: #666;
$dgrey: #333;

$lblue: #9CF;
$mblue: #369;
$dblue: #285989;

$red: #7E0B08;

.lgrey {
    color: #000;
    background: $lgrey;
}

.dgrey {
    color: $lgrey;
    background: $dgrey;
}

.mblue {
    color: #FFF;
    background: $mblue;
}