$lgrey: #EEE;
$mgrey: #666;
$dgrey: #333;
$sdgrey: #222;

$mblue: #369;
$dblue: #08327E;

$red: #7E0B08;
$green: #107E08;

.lgrey {
    color: $dgrey;
    background: $lgrey;
}

.dgrey {
    color: $lgrey;
    background: $dgrey;
}

.sdgrey {
    color: $lgrey;
    background: $sdgrey;
}

.mblue {
    color: $lgrey;
    background: $mblue;
}