$lgrey: #EEE;
$mgrey: #666;
$dgrey: #333;
$sdgrey: #222;

$lblue: #9CF;
$mblue: #369;
$dblue: #285989;

$red: #7E0B08;

.lgrey {
    color: $dgrey;
    background: $lgrey;
}

.dgrey {
    color: $lgrey;
    background: $dgrey;
}

.sdgrey {
    color: $lgrey;
    background: $sdgrey;
}

.mblue {
    color: $lgrey;
    background: $mblue;
}