#number-of-environments,
#new-environment {
    position: relative;
    padding-bottom: 50%;
}

.environment-icon {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    background: url(/img/spritesheet.svg);
    background-size: 1345%;
}

.env-icon {
    text-align: center;
    background-position:  0% 51%;
}

.new-env-icon {
    background-position:  8% 51%;
}

 @media ($min_bp_a) {
   #number-of-environments,
   #new-environment {
        padding-bottom: 25%;
    }
    #environment-icon {
        background-position:  0% 51%;
        &:hover {
            opacity: 1;
        }
    }
}

