footer {
    height: 150px;
    text-align: center;
}

#copyright {
    position: absolute;
    left: 40px;
    margin: auto;
    color: $lgrey;
}

#social-icons {
    right: 40px;
    position: absolute;
}

@media ($min-bp-b) {
    #copyright {
        left: 60px;
    }

    #social-icons {
        right: 60px;
    }
}