footer {
    height: auto;
    overflow: hidden;
    text-align: center;
    z-index: 2;
}

#copyright {
    width: 100%;
}

#social-icons {
    width: 100%;
    .btn {
        display: inline;
    }
}

.social-btn {
    margin-right: 0;
    padding: 10px;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

footer > .cell-logo {
    margin-top: 30px;
}

@media ($min_bp_a) {
    #copyright,
    #privacy,
    #social-icons {
        width: auto;
        position: absolute;
    }

    #copyright {
        top: 30px;
        left: 20px;
    }

    #privacy {
        top: 60px;
        left: 20px;
        p {
            margin-bottom: 0;
        }
    }

    #social-icons {
        right: 20px;
        .btn {
        display: inline-block;
        }
    }
    footer > .cell-logo {
        margin-top: 0;
    }
}

@media ($min_bp_b) {
    #copyright {
        top: 40px;
    }

    #privacy {
        top: 90px;
    }
}

@media ($min_bp_c) {
    #copyright {
        top: 40px;
        left: 0;
    }

    #privacy {
        top: 90px;
        left: 0;
    }

    #social-icons {
        right: 0px;
    }
}