.full,
.half,
.third {
    width: (100%/1);
    float: left;
}

.quarter {
    width: (100%/2);
    float: left;
}

.half-margin {
    width: (100%/1);
    float: left;
}

.third-margin {
    width: (100%/1);
    float: left;
}

.quarter-margin {
    width: (99%/2);
    margin-right: .5%;
    float: left;
}

.three-quarters {
    width: (100%/2);
    float: left;
}

@media ($min-bp-a) {
    .half {
        width: (100%/2);
    }

    .half-margin {
        width: (98%/2);
        margin-left: 1%;
        margin-right: 1%;
    }

    .half-margin:first-of-type {
        margin-left: 0;
    }

    .half-margin:last-of-type {
        margin-right: 0;
    }

    .third {
        width: (100%/3);
    }

    .third-margin {
        width: (97%/3);
        margin-left: .5%;
        margin-right: .5%;
    }

    .third-margin:first-of-type {
        margin-left: 0;
        margin-right: 1%;
    }

    .third-margin:last-of-type {
        margin-left: 1%;
        margin-right: 0;
    }

    p.third {
        width: (100%/1);
    }

    p.third-margin {
        width: (97%/1);
        margin-left: 0;
        margin-right: 0;
    }

    p.third-margin:first-of-type {
        margin-left: 0;
        margin-right: 0;
    }

    p.third-margin:last-of-type {
        margin-left: 0;
        margin-right: 0;
    }
    
    .quarter {
        width: (100%/4);
        float: left;
    }

    .quarter-margin {
        width: (96%/4);
        margin-left: .5%;
        margin-right: .5%;
    }

    .quarter-margin:nth(4) {
        margin-right: 0;
    }

    .three-quarters {
        width: (100%/4)*3;
        float: left;
    }

}

@media ($min-bp-b) {
    p.third {
        width: (100%/3);
    }

    p.third-margin {
        width: (97%/3);
        margin-left: .5%;
        margin-right: .5%;
    }

    p.third-margin:first-of-type {
        margin-left: 0;
        margin-right: 1%;
    }

    p.third-margin:last-of-type {
        margin-left: 1%;
        margin-right: 0;
    }
}