header {
    height: 40px;
    position: relative;
    background: $dgrey;
    z-index: 2;
}

#nav-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(/img/spritesheet.svg);
}

#nav-btn:hover {
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;  
    background: $lgrey url(/img/spritesheet.svg);
}

#user-message {
    height: 40px;
    position: absolute;
    right: 70px;
    color: #FFF;
    font-size: 1.4rem;
    line-height: 40px;
}

#user-pic {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/img/user/james/pic.jpg);
}

#user-pic:hover {
    -webkit-filter: brightness(50%); 
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;  
}

#user-menu {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 40px;
    right: 60px;
    background: $dgrey url(/img/spritesheet.svg) -40px 1px;
}

#user-pic:hover ~ #user-menu {
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;  
    background: $lgrey url(/img/spritesheet.svg) -40px 1px;
}