body > header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 3;
    background: $dgrey;
}

#site-nav,
#user-nav {
    display: none;
    z-index: 1;
}

#site-nav-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

.site-nav-btn-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 1.9rem;
    text-align: center;
    line-height: 40px;
    transition: background .3s;
    z-index: 3;
}

#site-nav-btn:hover ~ .site-nav-btn-icon {
    background: $mgrey;
}

.site-nav-btn-icon:before {
    content: "\62";
}

#site-nav-toggle:checked ~ .site-nav-btn-icon:before {
    content: "\78";
}

.menu-icon {
    padding-left: 10px;
}

#nav-overlay {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: #000;
    transition: opacity .3s;
}

#site-nav-toggle:checked ~ #nav-overlay,
#user-nav-toggle:checked ~ #nav-overlay {
    visibility: visible;
    opacity: .8;
}

#user-message {
    height: 40px;
    position: absolute;
    right: 67px;
    color: #FFF;
    line-height: 40px;
}

#user-nav-btn {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}

#user-arrow {
    width: 20px;
    height: 20px;
    margin-right: 0;
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    transition: background .3s;
    transform: rotate(90deg);
    z-index: 1;
}

#user-arrow:before {
    content: "v";
}

#user-pic {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    filter: brightness(50%);
    transition: all .3s;
}

#user-nav-btn:hover ~ #user-arrow {
    background: $mgrey;
}

#user-nav-btn:hover > #user-pic {
    filter: brightness(100%);
}

#site-nav {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 40px;
    left: -350px;
    display: block;
    transition: left .3s;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

#site-nav-toggle:checked + #site-nav {
    left: 0;
}

#site-nav a {
    width: 350px;
    padding: 30px 0;
    color: $lgrey;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    transition: padding .3s, background .3s;
}

#user-nav {
    width: 350px;
    position: fixed;
    top: 60px;
    right: -350px;
    display: block;
    transition: right .3s;
}

#user-nav-toggle:checked + #user-nav {
    right: 0;
}

#user-nav-toggle:checked ~ #user-arrow:before {
    content: "^";
}

#user-nav a {
    padding: 30px 0;
    color: $lgrey;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    transition: padding .3s, background .3s;
}

#site-nav a:hover,
#user-nav a:hover {
    padding-left: 10px;
    background: #CCC;
}