header {
    height: 40px;
    position: relative;
    background: $dgrey;
    z-index: 2;
}

#nav-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(/img/spritesheet.svg) -5px 0;
    transition: all .3s;  
}

#nav-btn:hover {
    background: $lgrey url(/img/spritesheet.svg) -5px 0;
}

#user-message {
    height: 40px;
    position: absolute;
    right: 70px;
    color: #FFF;
    font-size: 1.4rem;
    line-height: 40px;
}

#user-menu {
    height: 60px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

#user-pic {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    filter: brightness(50%); 
    background: url(/img/user/james/pic.jpg);
    transition: all .3s ease; 
    
}

#user-arrow {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 40px;
    right: 60px;
    background: $dgrey url(/img/spritesheet.svg) -45px -1px;
    transition: all .3s ease; 
}

#user-menu:hover > #user-arrow{
    background: $lgrey url(/img/spritesheet.svg) -45px -1px;
}

#user-menu:hover > #user-pic {
    filter: brightness(100%);  
}