.fixed-header {
    height: 260px;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    display: table;
    z-index: 1;
}

main {
    position: relative;
    margin-top: 300px;
    z-index: 2;
    background: $dgrey;
}

section > div {
    overflow: hidden;
}

.section-padding {
    padding: 40px 25px;
}

.section-content-wrapper {
    overflow: hidden;
}

.section--spacer {
    margin-bottom: 100px;
}

alternate {
    float:right;
}

@media ($min-bp-b) {


    .section-padding {
        padding: 60px 45px;
    }
}