#parallax-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 75px;
    z-index: 1;
}

main { 
    position: relative;
    z-index: 2;
}

main header {
    height: 250px;
    display: table;
}

section > div {
    overflow: hidden;
}

.parallax-margin {
    margin-top: 300px;
}

.section-padding {
    padding: 40px 25px;
}

.section-content-wrapper {
    overflow: hidden;
}

.section--spacer {
    margin-bottom: 100px;
}

@media ($min-bp-b) {
    .section-padding {
        padding: 60px 45px;
    }
}