#new-env-interface {
    padding: 80px 40px;
}

#new-env-map {
    width: 100%;
    height: 600px;
    position: relative;
    float: left;
    z-index: 1;
}

#new-env-form {
    width: 100%;
    position: relative;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

#new-env-form form {
    width: 100%;
    td {
        float: left;
        width: 100%;
    }
}

#selected-tile {
    width: 100%;
    max-width: 300px;
    position: relative;
    z-index: 3;
    img {

    }
}

#pac-input {
    width: 300px;
    margin-top: 20px;
    padding: 10px 13px;
    color: $dgrey;
    font-size: 1rem;
    font-weight: 300;
    background: #FFF;
}

.new-env-overlay {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: $dblue url(/img/spinner.gif) center no-repeat;
    transition: height .3s;
    z-index: 4;
}

.new-env-overlay--cloning {
    height: 100%;
}

@media ($min_bp_b) {
    #selected-tile {
        width: 240px;
        position: absolute;
        top: -120px;
        left: 40px;
        border: 10px solid $mblue;
    }
    #new-env-form form {
        width: 64%;
        float: right;
        padding: 0 0 20px 40px;
        text-align: left;
        td {
            float: none;
            width: auto;
        }
    }
}

@media ($min_bp_c) {
    #selected-tile {
        position: absolute;
        left: 75px;
    }
    #new-env-form form {
        width: 70%;
        float: right;
        padding: 0 0 20px 0;
    }
}