#progress-map {
    width: 100%;
    padding-bottom: 56.25%;
}

#progress-map-info {
    position: relative;
}

#progress-map-env-icon {
    width: 146px;
    position: absolute;
    margin-left: -73px;
    top: -88px;
    left: 50%;
    color: $mblue;
    font-size: 8rem;
}

#progress-map-env-icon-perc {
    width: 110px;
    position: absolute;
    margin-left: -55px;
    top: -18px;
    left: 50%;
    text-align: center;
    font-size: 2rem;
}

.progress-map-env-icon-title {
    margin-top: -30px;
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 1.6rem;
}

.progress-map-data {
    text-align: center;
    line-height: 45px;

    h2 {
        font-size: 4rem;
        font-weight: 200;
    }

    p {
        margin: 0;
        font-size: 1.4rem;
    }
}

.progress-map-data--left,
.progress-map-data--right {
    position: relative;
    margin-bottom: 40px;
}

#progress-map-learn-more {
    width: 100%;
    display: inline-block;
    text-align: center;

    i {
        margin-right: 15px;
    }
}