#page-flow {
    left: 50%;
    bottom: 10%;
    position: absolute;
}

.circle {
    height: 20px;
    width: 20px;
    margin: 10px auto;
    border: 2px solid $mgrey;
    animation: page-flow-circle-color 3s infinite;
    animation-direction: alternate;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $mgrey;
    animation: page-flow-arrow-color 3s infinite;
    animation-direction: alternate;
}

#secondary-header {
    display: block;
}

#secondary-header .section-padding {
    padding: 70px 25px;
}

@keyframes page-flow-circle-color {
  from   { border-color: $mgrey; }
  to { border-color: $lgrey; }
}

@keyframes page-flow-arrow-color {
  from   { border-top-color: $mgrey; }
  to { border-top-color: $lgrey; }
}