#about-numbers {
    .about-number {
        text-align: center;
        transition: transform .3s;
        h2 {
            font-size: 3rem;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media ($min_bp_a) and ($max_bp_c) {
    #key-people {
        .imagebox {
            width: 100%;
            height: 200px;
            margin: 0 0 20px;
        }

        figure {
            width: 200px;
        }

        figcaption {
            width: auto;
            height: 100%;
            left: 200px;
            right: 0;
            padding: 20px;
            text-align: left;
        }
    }
}