#about-logo-header {
    text-align: center;
    font-size: 20rem;
    padding-top: 40px;
    img{ display:none }
}

#about-numbers {
    .about-number {
        text-align: center;
        h2 {
            font-size: 3rem;
            font-weight: 200;
        }
    }
}
