.cube-wrapper-2 {
    margin-bottom: 20px;
    position: relative;
    perspective: 800px;
    perspective-origin: 50%;
    user-select: none;
}

#fourohfour-text p {
    text-align: center;
    color: #FFF;
}