#press-pack-download {
    padding-top: 160px;
    height: 500px;
    background: url(/img/placeholder.gif) center no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        margin-bottom: 60px;
        font-size: 2rem;
        font-weight: 200;
    }
}