.the-cloning-process {
    #top-bar,
    #user-arrow {
        background: $dgrey;
    }

    main {
        margin-top: 40px;
    }

    footer {
        display: none;
    }
}

#ig-slides {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    transition: top .6s;
}

.ig-slide {
    width: 100%;
    height: 100%;
    position: relative;
    & > div,
    & > img {
        user-select: none;
    }
}

.ig-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.ig-slide--1 {
    background-image: url(/img/infographic/1.jpg);
}

.ig-slide--2 {
    background-image: url(/img/infographic/2.jpg);
}

.ig-slide--3 {
    background-image: url(/img/infographic/3.jpg);
}

.ig-slide--4 {
    background-image: url(/img/infographic/4.jpg);
}

.ig-current-slide--1 {
    top: 0;
}

.ig-current-slide--2 {
    top: -100%;
}

.ig-current-slide--3 {
    top: -200%;
}

.ig-current-slide--4 {
    top: -300%;
}

#ig-prev,
#ig-next {
    width: 100%;
    height: 60px;
    position: fixed;
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    color: $lgrey;
}

#ig-prev {
    top: 40px;
}

#ig-next {
    bottom: 0;
}

.ig-current-slide--1 ~ #ig-prev,
.ig-current-slide--4 ~ #ig-next {
    display: none;
}

#ig-cube {
    width: 10%;
    position: fixed;
    margin-top: -5%;
    margin-left: -5%;
    top: 50%;
    left: 50%;
    background: #CCC;
}

.ig-animate {
    position: absolute;
}

.ig-transition-complete {
    &.ig-current-slide--1 {
        ~ #ig-cube {
            animation: ig-cube-1 3s ease-in-out;
        }
    }

    &.ig-current-slide--2 {
        ~ #ig-cube {
            animation: ig-cube-2 .1s alternate infinite linear;
        }
    }
}

@keyframes ig-cube-1 {
    0%   { width: 1%;  top: 20%; left: 85%; }
    50%  {                       left: 45%; }
    100% { width: 10%; top: 50%; left: 50%; }
}

@keyframes ig-cube-2 {
    0%   { left: 50%; }
    100% { left: 51%; }
}

#ig-satellite {
    height: 25%;
    left: 10%;
    animation: ig-satellite 7s alternate infinite ease-in-out;
    // filter: blur(2px);
}

@keyframes ig-satellite {
   0%   { top: 65%; }
   100% { top: 60%; }
}

#ig-plane {
    height: 6%;
    top: 15%;
    animation: ig-plane 10s infinite linear;
}

@keyframes ig-plane {
    0%   { left: 100%; }
    100% { left: -20%; }
}