#project-titan-image {
    height: 500px;
    background: url(/img/project-titan-scanning.jpg) no-repeat center;
    background-size: cover;
}
    
#project-titan-sign-up {
    padding-top: 160px;
    height: 500px;
    background: url(/img/project-titan-map.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        margin-bottom: 60px;
        font-size: 2rem;
        font-weight: 200;
    }
}