#primary-header {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -40px;
}

#secondary-header {
    display: block;
}

#secondary-header .section-padding {
    padding: 70px 25px;
}