#project-titan-sign-up {
    padding-top: 220px;
    height: 650px;
    background: url(/img/project-titan-map.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        margin-bottom: 100px;
        font-size: 2rem;
        font-weight: 200;
    }
}