#project-titan-our-aim {
    blockquote {
        padding: 0 0 60px;
    }
}

#project-titan-image {
    height: 500px;
    background: url(/img/project-titan-scanning.jpg) no-repeat center;
    background-size: cover;
}
    
#project-titan-sign-up {
    padding-top: 160px;
    height: 500px;
    background: url(/img/project-titan-map.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        margin-bottom: 60px;
        font-size: 2rem;
        font-weight: 200;
    }
}

@media ($min_bp_a) {
    #project-titan-our-aim {
        blockquote {
            margin-top: 80px;
            padding: 40px 10px;
        }
    }
}

@media ($min_bp_b) {
    #project-titan-our-aim {
        blockquote {
            margin-top: 110px;
        }
    }
}
