#user-profile-banner {
    position: relative;
    margin-bottom: 0;
    padding: 40px 20px 20px;
}

#user-profile-card {
    width: 100%;
    position: relative;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    h1 {    
        width: 100%;
        padding: 20px;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
}

#environment-listing {
    padding: 20px;
}

.environment-block {
    float: left;
    position: relative;
    border: 5px solid $sdgrey;
    text-align: center;
    img {
        width: 100%;
    }
}

.environment-block-details {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: $mblue;
    p {
        padding: 0;
        margin: 0;
    }
}

 .environment-block--new {
    position: relative;
    opacity: .1;
    padding-bottom: 75%;
    border: 0;
    transition: opacity .3s;
    &:hover {
        opacity: 1;
    }
 }

 #no-environments {
    width: 100%;
    h1 {
        margin: 0;
    }
 }

 @media ($min_bp_a) {

   #user-profile-banner {
        padding-top: 20px;
        margin-bottom: 50px;
    } 

    .environment-block--new {
        padding-top: 0;
        padding-bottom: 75%;
    }

    #user-profile-card {
        width: auto;
        display: block;
        position: relative;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        h1 {    
            width: 100%;
            padding: 20px;
            margin: 0;
            position: absolute;
            bottom: 0;
        }
    }
 }

  @media ($min_bp_c) {
    #user-profile-banner {
        padding: 0;
        margin-bottom: 50px;
    }

    #environment-listing {
        padding: 0;
    }
 }