.env {
    margin-top: 40px;
    header {
        padding: 20px 25px;
        overflow: hidden;
        text-align: left;
        hgroup {
            float: left;
            width: auto;
        }
        h2 {
            font-weight: 300;
        }
    }
    #env-user-badge {
        margin-top: 10px;
        float: right;
        text-align: right;
        p {
            margin: 0;
            font-size: 1rem;
        }
    }
}

#env-data {
    float: left;
    width: 100%;
}

.env-data-pod {
    height: 250px;
    border: 2px solid $sdgrey;
    float: left;
}

#model {
    width: 100%;
    height: 600px;
}

#video,
#canvas {
    display: none;
}

#comp {
    width: 300px;
    transform: scaleX(-1);
}