#user-profile-banner {
    margin-top: 60px;
    padding: 20px;
    z-index: 1;
    .quarter {
        width: (100%/1);
    }
}

#user-info {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    p {
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: 200;
        font-size: 1.2rem;
    }
}

#user-social {
    margin-top: 20px;
    font-size: 1.4rem;
}

#user-buttons {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.env-delete {
    position: absolute;
    margin-right: 0;
    padding: 15px;
    top: 0;
    right: 0;
    color: $mgrey;
    &:hover {
        color: #FFF;
    }
}

#user-profile-location-input {
    width: 100%;
}

.user-profile-input {
    width: 100%;
}

.user-profile-input--hidden {
    display: none;
}

#no-environments {
    width: 100%;
    h1 {
        margin: 0;
    }
}

@media ($min_bp_a) {
    #user-profile-banner {
        .quarter {
            width: (100%/4);
        }
    }

    #user-info {
        margin-top: 0;
        padding-left: 20px;
        text-align: left;
    }

    #user-buttons {
        width: 155px;
        position: absolute;
        margin-top: 0;
        top: 0;
        right: 0;
        text-align: right;
        > a {
            margin-bottom: 3px;
            line-height: 22px;
        }
    }

    #user-profile-location-input {
        width: 95%;
    }

    .user-profile-input {
        width: 86%;
    }
}

@media ($min_bp_b) {
    #user-profile-banner {
        margin-top: 20px;
    }

    #user-info {
        margin-top: 20px;
        padding-left: 40px;
        p {
            font-size: 1.4rem;
        }
    }

    #user-buttons {
        margin-top: 20px;
    }

    #user-profile-main {
        margin-top: 380px;
    }

    .user-profile-input {
        width: 35%;
    }

    #user-profile-facebook-input {
        margin-right: 20px;
    }
}

@media ($min_bp_c) {
    #user-buttons {
        width: 270px;
        > a {
            width: 270px;
        }
    }
}