.slider {
    width: 100%;
    padding: 60px 40px;
    overflow: hidden;
}

.panes {
    width: 500%;
    padding-left: 0;
    position:relative;
    overflow: hidden;
    list-style: none;
    animation: slider 10s infinite;
}

.panes > li {
    width: 20%;
    position: relative;
    float: left;
}

@keyframes slider{
    10%    { left:0; }
    20%   { left:0; }
    30% { left:-100%; }
    40% { left:-100%; }
    50%   { left:-200%; }
    60%   { left:-200%; }
    70% { left:-300%; }
    80% { left:-300%; }
    90%   { left:-400%; }
    100%   { left: -400%;}
}

@media ($min-bp-a) {
    .slider {
        width: 50%;
    }
}