.timeline {
    height: 500px;
    margin: 0 auto;
    overflow-x: scroll;
}

.timeline-wrapper {
    width: 1300px;
    overflow: hidden;
}

.event {
    height: 478px;
}

.founded {
    width: 300px;
    float: left;   
    background-color: red;
 }

.funding {
    width: 800px;
    float: left;
    vertical-align: top;
    background-color: gray;
}

.party {
    width: 200px;
    float: left;
    vertical-align: top;
    background-color: blue;
}