#timeline {
    height: 500px;
    width: auto;
    margin: 0;
    background: red;
}

.event {
    height: 500px;
}

.founded {
    width: 400px;
    float: left;
    bakcground: blue;
}

.grant {
    width: 800px;
    background: yellow;
}