.timeline-header {
    margin-bottom: 0;
}

#timeline {
    height: auto;
    margin: 0 auto;
    overflow-x: scroll;
    cursor: move;
}

#timeline-wrapper {
    width: 2400px;
    overflow: hidden;
}

.event {
    height: 500px;
    float: left;
    vertical-align: top;
    box-shadow: inset -5px 0 #333;
    background: $sdgrey;
}

.event:last-child {
    box-shadow: none;
}

.event-date-wrapper {
    width: 100%;
    height: 35px;
    background: $sdgrey;
}

.event-date {
    padding-left: 5px;
    border-left: 30px solid $mblue;
    border-bottom: 5px solid $mblue;
}

.event-img-wrapper {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.event-img {
    height: 100px;
    width: 100px;
}

.event-text {
    padding: 20px;
}

.founded {
    width: 300px;  
 }

.funded {
    width: 300px;
}

.moon-landing {
    width: 300px;
}

.test-tube {
    width: 300px;
}

.lazer-eye {
    width: 300px;
}

.stem-cells {
    width: 300px;
}


.research {
    width: 300px;
}

.first-clone {
    width: 300px;
}