h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 200;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 200;
}

h3 {
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 200;
}

a {
    color: #285989;
}

a:hover {
    color: #FFF;
}

.warn {
    padding: 10px;
    color: #FFF;
    background: $red;
}