h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 4rem;
    font-weight: 300;
}

section h1 {
    margin-bottom: 60px;
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 32px;
}

.text-align-center {
    text-align: center;
}

a {
    color: #285989;
}

a:hover {
    color: $lgrey;
}

.warn {
    padding: 10px;
    color: $lgrey;
    background: $red;
}

blockquote p {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    line-height: 3rem;
}

blockquote p:before {
    content: '“';
    margin-right: 14px;
    vertical-align: -20px;
    font-size: 4rem;
    font-weight: 600;
}

blockquote p:after {
    content: '”';
    vertical-align: -20px;
    font-size: 4rem;
    font-weight: 600;
}

blockquote footer {
    height: auto;
    margin-bottom: 15px;
    float: right;
}

blockquote footer:before {
    content: '—';
    margin-right: 10px;
}

@media ($min_bp_a) {
    p {
        font-size: 1.2rem;
    }
}