h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 300;
}

section h1 {
    margin-bottom: 60px;
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 32px;
}

a {
    transition: all .3s;
    text-decoration: none;
    color: $lgrey;
}

.dgrey a,
.sdgrey a {
    color: $mblue;
    border-bottom: 1px solid $mblue;
    &:hover {
        color: $lgrey;
        border-bottom: 1px solid $lgrey;
    }
}

.lgrey a {
    color: $mblue;
    border-bottom: 1px solid $mblue;
    &:hover {
        color: $dgrey;
        border-bottom: 1px solid $dgrey;
    }   
}

.mblue a {
    color: $lgrey;
    border-bottom: 1px solid $lgrey;
    &:hover {
        color: $dgrey;
        border-bottom: 1px solid $dgrey;
    }   
}

.cell-logo a,
a.cta {    
    color: $lgrey;
    border-bottom: 0;
    &:hover {
        border-bottom: 0;
        color: $lgrey;
    }
}

#user-social a {
    border-bottom: 0;
    &:hover {
        border-bottom: 0;
    }
}

a img {
    border: 0;
}

.warn {
    padding: 10px;
    color: $lgrey;
    background: $red;
    a {
        font-weight: 600;
        border-bottom: 1px solid $lgrey;
        &:hover {
            color: $lgrey;
            border-bottom: 1px solid $lgrey;
        }
    }
}

blockquote {
    padding: 60px 10px;
    p {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2.6rem;
    }
    footer {
        height: auto;
        margin-bottom: 15px;
        float: right;
    }
}

blockquote p:before {
    content: "\201c";
    margin-right: 14px;
    vertical-align: -20px;
    font-size: 4rem;
    font-weight: 600;
}

blockquote p:after {
    content: "\201D";
    vertical-align: -20px;
    font-size: 4rem;
    font-weight: 600;
}

blockquote footer:before {
    content: '\2014';
    margin-right: 10px;
}

ul {
    padding-left: 24px;
    list-style: square;
}

ul li {
    margin-bottom: 10px;
    font-weight: 300;
}

ol {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    text-align: center;
}

ol li {
    padding: 20px;
}

ol h1 {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 1.6rem;
}

ol p {
    font-size: 1.4rem;
}

@media ($min_bp_a) {
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
    }

    blockquote {
        padding: 40px 25px;
        p {
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }
}