.btn {
    width: 100%;
    margin-top: 10px;
    padding: 17px 17px;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: color .5s, background .5s, box-shadow .5s;
    .social {
        margin-top: 0;
    }
}

a.btn {
    line-height: 20px;
}

.lgrey .btn {
    color: $dgrey;
    box-shadow: inset 4px 4px 0 $dgrey, inset -4px -4px 0 $dgrey;
    &:hover {
        color: $lgrey;
        box-shadow: inset 4px 240px 0 $dgrey, inset -4px 4px 0 $dgrey; 
    }
}

.mblue .btn {
    color: $lgrey;
    box-shadow: inset 4px 4px 0 $lgrey, inset -4px -4px 0 $lgrey;
    &:hover {
        color: $mblue;
        box-shadow: inset 4px 240px 0 $lgrey, inset -4px -4px 0 $lgrey; 
    }
}

.dgrey .btn,
.sdgrey .btn {
    color: $lgrey;
    box-shadow: inset 4px 4px 0 $lgrey, inset -4px -4px 0 $lgrey;
    &:hover {
        color: $dgrey;
        box-shadow: inset 4px 240px 0 $lgrey, inset -4px -4px 0 $lgrey; 
    }
}

.btn--disabled {
    opacity: 0.1;
    line-height: 20px;
}

@media ($min-bp-a) {
    .btn {
        width: auto;
        margin-top: 0;
        display: inline-block;
    }   
}