.cta {
    position: relative;
    display: table;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background-position: center;
    background-size: cover;

    h1 {
        margin-bottom: 5px;
        font-size: 2.8rem;
        font-weight: 300;
    }

    h2 {
        font-weight: 300;
    }

    > hgroup {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(51,51,51,.6);
        transition: background .3s;
    }

    &:hover:after {
        background: rgb(51,102,153);
    }
}

.cta--example {
    height: 200px;
    background-image: url(/img/placeholder.gif);
}

.cta--pt-large {
    height: 400px;
    background-image: url(/img/cta/625x400-project-titan.jpg);
}

.cta--pt-small {
    height: 200px;
    background-image: url(/img/cta/625x200-project-titan.jpg);
}

.cta--about {
    height: 200px;
    background-image: url(/img/cta/625x200-about.jpg);
}

.cta--home3 {
    height: 200px;
    background-image: url(/img/placeholder.gif);
}