table {
    width: 100%;
}

label {
    font-size: 1.4rem;
}

form {
    clear: both;
    .btn {
        width: 100%;
        font-size: 1.2rem;
        padding: 15px;
    }
}

input[type="submit"],
input[type="button"] {
    height: auto;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

input,
select,
textarea {
    width: 100%;
    display: inline-block;
    padding: 15px;
    color: $lgrey;
    font-size: 1.2rem;
    font-weight: 200;
    border: 0;
    background: $dgrey;
}

.dgrey input,
.dgrey select,
.dgrey textarea {
    background: $sdgrey;
}


input:focus,
select:focus,
textarea:focus {
    border-radius: 0;
    outline-color: $mblue;
    box-shadow: inset 4px 4px 0px $mblue, inset -4px -4px 0px $mblue;
}

.mblue input:focus,
.mblue select:focus,
.mblue textarea:focus,
.sdgrey input:focus,
.sdgrey select:focus,
.sdgrey textarea:focus,
.dgrey input:focus,
.dgrey select:focus,
.dgrey textarea:focus {
    outline-color: $lgrey;
    box-shadow: inset 4px 4px 0px $lgrey, inset -4px -4px 0px $lgrey;
}
