.hoverbox {
    position: relative;
    overflow: hidden;
}

.hoverbox figure {
    margin: 0;
}

.hoverbox img {
    width: 100%;
    display: block;
}

.hoverbox figcaption {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    bottom: -80%;
    color: #FFF;
    background: $mblue;
    transition: bottom .3s;
}

.hoverbox:hover figcaption {
    bottom: 0;
}