.imagebox {
    position: relative;
    overflow: hidden;
    text-align: center;
    
    h1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-weight: 600;
        background: $mblue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    figure {
        margin: 0;
        transition: transform .5s;
    }

    img {
        width: 100%;
        display: block;
    }

    figcaption {
        width: 100%;
        height: 0;
        padding: 15px 20px 40px;
        position: absolute;
        bottom: 0;
        color: #FFF;
        background: $mblue;
        transition: height 1s, padding .3s;

        a {
            color: $lgrey;
        }
    }
}

.hoverbox:hover > figcaption {
    height: 100%;
    padding: 20px;
}

.zoombox:hover > figure {
    transform: scale(1.5);
}